
.main-container{
  background:#f2f5f7;
  min-height:100vh;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.main-container h1{
    padding-top:20px;
    text-align: center;
}

.film-container{
  padding:0 10%;
  padding-bottom:20px;
  display: flex;
  align-items: center;
  background:#f2f5f7;
}

.film-container .side-bar{
  width:400px;
  margin-right: 5px;
}

.film-container .side-bar.active{
  display: none;
}

.film-container .side-bar .list{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.film-container .side-bar .list li{
  padding:10px 0;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  list-style: none;
}

.film-container .side-bar .list li::before{
  content: '';
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  left:-5px;
  width: 0%;
  height: 3px;
  background-color: #000;
  transition: width .2s linear .2s;
}

.film-container .side-bar .list li.active,
.film-container .side-bar .list li:hover{
  font-size: 30px;
  color : #70aed2;
}

/* .film-container .side-bar .list li.active::before, */
/* .film-container .side-bar .list li:hover::before{ */
/*   right: -5px; */
/*   width: 105%; */
/* } */

.film-container .video-container{
  flex:1;
}

.film-container .video-container video{
  height:70vh;
  width: 100%;
  object-fit: contain;
}

#menu-btn{
  top:20px; left:30px;
  font-size: 40px;
  cursor: pointer;
  z-index: 1000;
}
  .video-container iframe{
      width:70% !important;
  }

@media (max-width:1200px){
  .video-container iframe{
      width:80vw !important;
  }
  .film-container{
    flex-direction: column;
  }
  .film-container{
    position: relative;
  }

  .film-container .side-bar{
    width:100%;
    margin : 20px 0px;
  }

  .film-container .side-bar .list{
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .film-container .side-bar.active{
    box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
    display: initial;
    left:0;
  }
}

@media (max-width:450px){

  .film-container{
    padding:20px;
  }

  .film-container .side-bar{
    width: 300px;
  }

  .film-container .side-bar .list li{
    font-size: 15px;
  }

  .film-container .side-bar .list li.active{
    font-size: 20px;
  }
  .list{
      flex-direction: column !important;
  }
}
.video-container {
    position: relative;
    display: flex;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
}
/*.video-container #video {
    width: 600px;
    height: 400px;
    border-radius: 20px;
}
*/
.video-container .controls {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    opacity: 0.2;
    transition: opacity 0.4s;
}
.video-container:hover .controls {
    opacity: 1;
}
.video-container .controls button {
    background: transparent;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 1px 2px #000;
    border: none;
    cursor: pointer;
}
.video-container .controls .timeline {
    flex: 1;
    display: flex;
    align-items: center;
    border: none;
    border-right: 3px solid #ccc;
    border-left: 3px solid #ccc;
}
.video-container .controls .timeline .bar{
    background: rgb(1, 1, 65);
    height: 4px;
    flex: 1;
}
.video-container .controls .timeline .bar .watch-bar{
    background: #ccc;
    width: 0%;
    height: 100%;
}
.fa {
    font-size: 20px !important;
}